extends layout

block content
    .createPost
        if user
            h1 Create Post
            form(method='post') 
                label(for="title") Title
                input(type="text" name='title')
                label(for="content") Text
                textarea.postText(name='content')
                button(type="submit") Post
        else    
            h1 Log in before posting 
            a(href="/") 
                button Login
            if errors 
                each err in errors
                    p=err.msg
        